<h1>Pagina principal</h1>

<h2>Formulario de login</h2>

<form method="post" action="/crearCookie">
   <input type="text"placeholder="nopmbre" name="user_name"/>
   <br/><br>
   <input type="email" placeholder="Correo" name="email"/>
   <br/><br>
   <button>Send</button>
</form>
<hr/>
<a href="/leerCookies">Leer cookies</a>